@charset "utf-8";

/* ========================
    reset
   ======================== */

html{-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;font-size:62.5%;overflow-x:hidden;}
body,div,dl,dt,dd,form,input,label,img,p,span,ul,ol,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;margin:0;padding:0;}
body{font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Nanum Gothic",Tahoma,Simsun,sans-serif;font-size:1.4rem;line-height:1;word-wrap:break-word;word-break:normal;color:#3e3e3e;background:#f3f3f3;padding-top:52px;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i{font-style:normal;}
img{border:none;vertical-align:top;}
a{color:#3e3e3e;text-decoration:none;outline:none;}
input,button,textarea,select,option{font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Nanum Gothic",Tahoma,Simsun,sans-serif;font-size:1.4rem;outline:none;color:#666;}
table{border-collapse:collapse;border-spacing:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

/* ========================
    common
   ======================== */

.fl{float:left;}
.fr{float:right;}
.container:before,.clear:before{content:"";display:block;}
.container:after,.clear:after{clear:both;content:"";display:table;}
.app-none{-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}

/* ========================
    icon
   ======================== */

@font-face{font-family:Muiicons;font-weight:400;font-style:normal;src:url(../fonts/mui.ttf) format('truetype');}
.mui-icon{font-family:Muiicons;font-size:24px;font-weight:400;font-style:normal;line-height:1;display:inline-block;text-decoration:none;-webkit-font-smoothing:antialiased;}
.mui-icon.mui-active{color:#007aff;}
.mui-icon.mui-right:before{float:right;padding-left:.2em;}
.mui-icon-contact:before{content:'\e100';}
.mui-icon-person:before{content:'\e101';}
.mui-icon-personadd:before{content:'\e102';}
.mui-icon-contact-filled:before{content:'\e130';}
.mui-icon-person-filled:before{content:'\e131';}
.mui-icon-personadd-filled:before{content:'\e132';}
.mui-icon-phone:before{content:'\e200';}
.mui-icon-email:before{content:'\e201';}
.mui-icon-chatbubble:before{content:'\e202';}
.mui-icon-chatboxes:before{content:'\e203';}
.mui-icon-phone-filled:before{content:'\e230';}
.mui-icon-email-filled:before{content:'\e231';}
.mui-icon-chatbubble-filled:before{content:'\e232';}
.mui-icon-chatboxes-filled:before{content:'\e233';}
.mui-icon-weibo:before{content:'\e260';}
.mui-icon-weixin:before{content:'\e261';}
.mui-icon-pengyouquan:before{content:'\e262';}
.mui-icon-chat:before{content:'\e263';}
.mui-icon-qq:before{content:'\e264';}
.mui-icon-videocam:before{content:'\e300';}
.mui-icon-camera:before{content:'\e301';}
.mui-icon-mic:before{content:'\e302';}
.mui-icon-location:before{content:'\e303';}
.mui-icon-mic-filled:before,.mui-icon-speech:before{content:'\e332';}
.mui-icon-location-filled:before{content:'\e333';}
.mui-icon-micoff:before{content:'\e360';}
.mui-icon-image:before{content:'\e363';}
.mui-icon-map:before{content:'\e364';}
.mui-icon-compose:before{content:'\e400';}
.mui-icon-trash:before{content:'\e401';}
.mui-icon-upload:before{content:'\e402';}
.mui-icon-download:before{content:'\e403';}
.mui-icon-close:before{content:'\e404';}
.mui-icon-redo:before{content:'\e405';}
.mui-icon-undo:before{content:'\e406';}
.mui-icon-refresh:before{content:'\e407';}
.mui-icon-star:before{content:'\e408';}
.mui-icon-plus:before{content:'\e409';}
.mui-icon-minus:before{content:'\e410';}
.mui-icon-checkbox:before,.mui-icon-circle:before{content:'\e411';}
.mui-icon-clear:before,.mui-icon-close-filled:before{content:'\e434';}
.mui-icon-refresh-filled:before{content:'\e437';}
.mui-icon-star-filled:before{content:'\e438';}
.mui-icon-plus-filled:before{content:'\e439';}
.mui-icon-minus-filled:before{content:'\e440';}
.mui-icon-circle-filled:before{content:'\e441';}
.mui-icon-checkbox-filled:before{content:'\e442';}
.mui-icon-closeempty:before{content:'\e460';}
.mui-icon-refreshempty:before{content:'\e461';}
.mui-icon-reload:before{content:'\e462';}
.mui-icon-starhalf:before{content:'\e463';}
.mui-icon-spinner:before{content:'\e464';}
.mui-icon-spinner-cycle:before{content:'\e465';}
.mui-icon-search:before{content:'\e466';}
.mui-icon-plusempty:before{content:'\e468';}
.mui-icon-forward:before{content:'\e470';}
.mui-icon-back:before,.mui-icon-left-nav:before{content:'\e471';}
.mui-icon-checkmarkempty:before{content:'\e472';}
.mui-icon-home:before{content:'\e500';}
.mui-icon-navigate:before{content:'\e501';}
.mui-icon-gear:before{content:'\e502';}
.mui-icon-paperplane:before{content:'\e503';}
.mui-icon-info:before{content:'\e504';}
.mui-icon-help:before{content:'\e505';}
.mui-icon-locked:before{content:'\e506';}
.mui-icon-more:before{content:'\e507';}
.mui-icon-flag:before{content:'\e508';}
.mui-icon-home-filled:before{content:'\e530';}
.mui-icon-gear-filled:before{content:'\e532';}
.mui-icon-info-filled:before{content:'\e534';}
.mui-icon-help-filled:before{content:'\e535';}
.mui-icon-more-filled:before{content:'\e537';}
.mui-icon-settings:before{content:'\e560';}
.mui-icon-list:before{content:'\e562';}
.mui-icon-bars:before{content:'\e563';}
.mui-icon-loop:before{content:'\e565';}
.mui-icon-paperclip:before{content:'\e567';}
.mui-icon-eye:before{content:'\e568';}
.mui-icon-arrowup:before{content:'\e580';}
.mui-icon-arrowdown:before{content:'\e581';}
.mui-icon-arrowleft:before{content:'\e582';}
.mui-icon-arrowright:before{content:'\e583';}
.mui-icon-arrowthinup:before{content:'\e584';}
.mui-icon-arrowthindown:before{content:'\e585';}
.mui-icon-arrowthinleft:before{content:'\e586';}
.mui-icon-arrowthinright:before{content:'\e587';}
.mui-icon-pulldown:before{content:'\e588';}

/* ========================
    contents
   ======================== */

.page{display:none;}

.header{width:100%;height:52px;background:#fff;position:fixed;left:0;top:0;z-index:99;box-shadow:0 1px 6px rgba(0,0,0,.1);}
.header h1{text-align:center;height:52px;line-height:52px;font-size:1.6rem;}
.header .mui-icon-left-nav{position:absolute;left:0;top:0;padding:14px 14px 14px 12px;color:#f07227;}

.number-input{width:94%;margin:35px auto 0;text-align:center;font-size:0;}
.number-input input{width:25%;height:85px;display:inline-block;border:1px solid #e1e1e1;font-size:2.8rem;text-align:center;color:#000;}
.number-input input:nth-child(1){border-radius:3px 0 0 3px;}
.number-input input:nth-child(2){border-left:none;}
.number-input input:nth-child(3){border-left:none;}
.number-input input:nth-child(4){border-radius:0 3px 3px 0;border-left:none;}

.number-tips{width:94%;margin:15px auto 0;height:50px;line-height:50px;background:#fff;border-radius:3px;overflow:hidden;padding-left:10px;border:1px solid #e1e1e1;color:#8b8b8b;}
.number-tips span{vertical-align:middle;margin-top:-4px;margin-right:5px;}

.number-grid{width:94%;margin:35px auto 10px;border-radius:3px;overflow:hidden;}
.number-grid ul{font-size:0;text-align:center;}
.number-grid li{width:33.33333333%;height:92px;line-height:92px;display:inline-block;font-size:2.2rem;border-left:1px solid #484848;border-bottom:1px solid #484848;background:#393939;color:#fff;vertical-align:top;}
.number-grid li:nth-child(1){border-left:none;}
.number-grid li:nth-child(4){border-left:none;}
.number-grid li:nth-child(7){border-left:none;}
.number-grid li:nth-child(10){border-left:none;border-bottom:none;}
.number-grid li:nth-child(11){border-bottom:none;}
.number-grid li:nth-child(12){border-bottom:none;}
.number-grid li.cancel{background:#f07227;color:#fff;font-size:2rem;}
.number-grid li.ok{background:#28b22e;color:#fff;font-size:2rem;}
.number-grid li:active{background:#2f2f2f;}
.number-grid li.cancel:active{background:#cf6220}
.number-grid li.ok:active{background:#229227}
.number-grid li span{margin-left:-4%;}

@media only screen and (max-width:320px) {
    .number-input{margin-top:25px;}
    .number-grid{margin-top:25px;}
    .number-grid li{height:75px;line-height:75px;}
}

.search-list{width:90%;margin:30px auto 80px;}
.search-list a{height:54px;line-height:54px;border:1px solid #e1e1e1;background:#fff;padding-left:15px;font-size:2rem;border-radius:3px;color:#3e3e3e;margin-bottom:10px;display:block;}
.search-list a .mui-icon-arrowthinright{float:right;color:#8b8b8b;margin-right:15px;margin-top:13px;}
.re-search-btn{width:100%;position:fixed;left:0;bottom:0;background:#fff;padding:10px 0;text-align:center;border-top:1px solid #e1e1e1;}
.re-search-btn input{width:90%;height:50px;line-height:50px;background:#28b22e;color:#fff;font-size:1.8rem;border:none;border-radius:3px;}

.car-info{width:94%;margin:30px auto 0;background:#fff;padding:8px 15px;border:1px solid #e1e1e1;border-radius:3px;}
.car-info li{height:40px;line-height:40px;font-size:1.6rem;border-top:1px solid #e1e1e1;}
.car-info li:first-child{border-top:none;}
.car-info li span{width:30%;display:inline-block;color:#9a9a9a;}

.free{width:94%;margin:20px auto 0;background:#fff;border:1px solid #e1e1e1;border-radius:3px;padding:15px;}
.free-btn{width:20%;float:left;}
.free-btn input{width:100%;height:50px;line-height:50px;background:#28b22e;color:#fff;border:none;border-radius:3px;}
.free-content{width:80%;float:right;padding-left:20px;}
.free-content li{width:100%;height:40px;line-height:40px;border:1px solid #e1e1e1;border-radius:3px;margin-top:8px;padding-left:10px;}
.free-content li span{color:#c2c2c2;}
.free-content li.active{background:#393939;color:#fff;}
.free-content li.active span{color:#fff;}
.free-content li:first-child{margin-top:0;}

.btn-group{width:94%;margin:20px auto 10px;}
.btn-group .time{text-align:center;font-size:0;}
.btn-group .time input{display:inline-block;width:33.33333333%;height:40px;line-height:40px;border:1px solid #e1e1e1;background:#fff;font-size:1.6rem;}
.btn-group .time input:nth-child(1){border-radius:3px 0 0 3px;}
.btn-group .time input:nth-child(2){border-left:none;}
.btn-group .time input:nth-child(3){border-radius:0 3px 3px 0;border-left:none;}
.btn-group .btn{margin-top:10px;}
.btn-group .btn input{width:49%;height:50px;line-height:50px;border:none;border-radius:3px;color:#fff;font-size:1.8rem;}
.btn-group .btn input.cancel{background:#f07227;float:left;}
.btn-group .btn input.ok{background:#28b22e;float:right;}

