@charset "utf-8";
@font-face{
	font-family:"Noto Sans KR";
	font-style:normal;font-weight:300;
	src:url('NotoSans-Light.eot');
	src:url('NotoSans-Light.eot?#iefix') format('embedded-opentype'),
	url('NotoSans-Light.woff') format('woff'),
	url('NotoSans-Light.otf') format('opentype'),
	url('NotoSans-Light.ttf') format('truetype');
	src:local('?'), url('NotoSans-Light.woff') format('woff');
}
@font-face{
	font-family:"Noto Sans KR";
	font-style:normal;font-weight:400;
	src:url('NotoSans-Regular.eot');
	src:url('NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('NotoSans-Regular.woff') format('woff'),
	url('NotoSans-Regular.otf') format('opentype'),
	url('NotoSans-Regular.ttf') format('truetype');
	src:local('?'), url('NotoSans-Regular.woff') format('woff');
}
@font-face{
	font-family:"Noto Sans KR";
	font-style:normal; font-weight:500;
	src:url('NotoSans-Medium.eot');
	src:url('NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
	url('NotoSans-Medium.woff') format('woff'),
	url('NotoSans-Medium.otf') format('opentype'),
	url('NotoSans-Medium.ttf') format('truetype');
	src:local('?'), url('NotoSans-Medium.woff') format('woff');
}
@font-face{
	font-family:"Noto Sans KR";
	font-style:normal; font-weight:700;
	src:url('NotoSans-Bold.eot');
	src:url('NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('NotoSans-Bold.woff') format('woff'),
	url('NotoSans-Bold.otf') format('opentype'),
	url('NotoSans-Bold.ttf') format('truetype');
	src:local('?'), url('NotoSans-Bold.woff') format('woff');
}