@charset "utf-8";

#main{
    width:300px;
    margin:100px auto;
}
#main::after{
    display:block;
    content:'';
    clear:both;
}
a, button{
    float:left;
    display:block;
    width:140px;
    height:50px;
    font-size:16px;
    color:#fff;
    text-align: center;
    letter-spacing:-1px;
    padding: 16px;
    border:none;
    background:green;
    cursor:pointer;
}
a{
    margin-right:20px;
}